<h1 align="center"><%= @user.signature %></h1>

<% @post.each do |post| %>
<%= link_to post.content, post %> at <%= post.lat %> <%= post.lng %> on <%= post.created_at %>
<% if current_user == post.user %>
<br>
				<%= link_to 'Edit', edit_post_path(@post) %> 
			<% end %>
<hr>
<% end %>